@model IEnumerable<ConciliacaoBancariaAuvo.Entities.Extrato>

@{
    ViewData["Title"] = "Conciliação Bancária";
}

<section class="my-2">
    <div class="row">
        <div class="col-md-12 ">
            <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadArquivo">

                <div class="card bg-transparent border-white">
                    <div class="card-body">
                        <div class="card-text text-center mb-2"><img src="~/images/cloud.svg" alt="Upload" style="width:10%;" /></div>

                        <div class="col-md-12">
                            <h5 class="text-white text-center">Você pode selecionar um ou vários arquivos OFX</h5>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-5">
                                <input type="file" id="arquivos" name="arquivos" multiple class="btn btn-light txt-color-main form-control-file" required />
                            </div>

                            <div class="col-md-4 align-self-center pl-md-0">
                                <button type="submit" class="btn btn-light">Importar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<form class="mt-1" asp-action="index" asp-controller="home" method="get" enctype="multipart/form-data">
    <div class="col-md-12">
        <div class="row">

            <div class="input-group">
                <input type="search" multiple name="search" value="@ViewBag.Search" placeholder="Pesquise por Descrição ou Observação" class="form-control" required />
                <button type="submit" name="name" value="" class="btn btn-success">Pesquisar</button>
            </div>
            <div class="mb-3 mt-1">
                <a class="align-self-center mt-1 text-white" asp-action="Index">Limpar pesquisa</a>
            </div>
        </div>
    </div>
</form>

<section class="bg-white">
    <div class="container">
        <h3 class="text-center p-4 txt-color-main">
            Listagem da Conciliação Bancária
        </h3>
        <div style="overflow-x:auto;">

            <div class="bg-light">
                <div class="row">
                    <div class="col-md-3">
                        <span class="label label-default font-weight-bold">Data Inicio</span>
                        <input type="date" class="form-control" id="dataInicio" data-date-split-input="true">
                    </div>
                    <div class="col-md-3">
                        <span class="label label-default font-weight-bold">Data Fim</span>
                        <input type="date" class="form-control" id="dataFim" data-date-split-input="true">
                    </div>
                </div>
            </div>

            <hr />
            <table class="table shadow p-3 rounded" id="filtroDados">
                <thead class="table-light bg-light rounded txt-color-main">
                    <tr>
                        <th>
                            @Html.DisplayName("Data")
                        </th>
                        <th>
                            @Html.DisplayName("Tipo")
                        </th>
                        <th>
                            @Html.DisplayName("Valor")
                        </th>
                        <th>
                            @Html.DisplayName("Descrição")
                        </th>
                        <th>
                            @Html.DisplayName("Observação")
                        </th>
                        <th>
                            @Html.DisplayName("")
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-light">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelitem => item.DataLancamento)
                            </td>
                            <td>
                                @if (item.Tipo == "CREDIT\n")
                                {
                                    <div class="shadow-sm" style="background-color:#4f794e; text-align:center; border-radius:25px; color:aliceblue">
                                        <small>Débito</small>
                                    </div>
                                }
                                else
                                {
                                    <div class="shadow-sm" style="background-color:#b25454; text-align:center; border-radius:25px; color:aliceblue">
                                        <small>Crédito</small>
                                    </div>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Observacao)
                            </td>
                            <td>
                                <button value="@item.Id" asp-route-id="@item.Id" class="btn btn-light btn-main text-white btnDetalhes" data-toggle="modal" data-target="#myModal" />Detalhes
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type='hidden' id="extratoId" />
                <div>
                    <label class="txt-color-main">Data Lançamento:</label> <span id="lblDataLancamento"></span>
                </div>
                <div>
                    <label class="txt-color-main">Tipo:</label> <span id="lblTipo"></span>
                </div>
                <div>
                    <label class="txt-color-main">Valor:</label> <span id="lblValor"></span>
                </div>
                <div>
                    <label class="txt-color-main">Descrição:</label> <span id="lblDescricao"></span>
                </div>
                <div>
                    <label class="txt-color-main">Observação:</label>
                    <textarea class="form-control-range" cols="40" rows="5" id="txtObservacao"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <input value="Atualizar Detalhes" type="submit" class="btn btn-success btnSalvar" />
                    <input type="button" class="btn btn-info" value="Fechar" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        //Fonte: https://jsfiddle.net/oajc94hf/38/
        function filtrarDatas() {

            var inicio = $('#dataInicio').val();
            var fim = $('#dataFim').val();

            if (!inicio && !fim) {
                return;
            }

            inicio = inicio || '1970-01-01';
            fim = fim || '2999-12-31';

            var dataDe = moment(inicio);
            var dataPara = moment(fim);

            $('#filtroDados tr').each(function (i, tr) {
                var val = $(tr).find("td:nth-child(1)").text();
                var dataValor = moment(val, "DD/MM/YYYY");
                var mostrar = (dataValor.isBetween(dataDe, dataPara, null, [])) ? "" : "none";
                $(tr).css('display', mostrar);
            });
        }

        $(document).ready(function () {
            $('#dataInicio').on("change", filtrarDatas);
            $('#dataFim').on("change", filtrarDatas);

            //BuscarDetalhesAjax
            $(".btnDetalhes").click(function () {

                $("#lblDataLancamento").val(" ");
                $("#lblTipo").val(" ");
                $("#lblValor").val(" ");
                $("#lblDescricao").val(" ");
                $("#txtObservacao").val(" ");

                var url = '@Url.Action("DetalhesExtrato")';

                $.getJSON(url, { id: $(this).val() }, function (result) {

                        $("#lblDataLancamento").html(result.dataLancamento);
                        $("#lblTipo").html(result.tipo);
                        $("#lblValor").html(result.valor);
                        $("#lblDescricao").html(result.descricao);
                        $("#txtObservacao").val(result.observacao);

                        $("#extratoId").val(result.id);
                });
            });

            //SalvarDetalhesAjax
            $(".btnSalvar").click(function () {

            id = $("#extratoId").val();
            txtObs = $("#txtObservacao").val();

           $.ajax({
               type: "POST",
               url: "@Url.Action("SalvarExtrato")",
               dataType: "text",
               data: { id: id, observacao: txtObs },
               success: function (response) {
                   alert("Atualizado com sucesso");
                   $("#myModal .close").click()
               },
               error: function (req, status, error) {

                   alert("Oooops. :( Houve algum erro ao atulizar.");
               }
           });
         });

            //ValidarArquivoOFX
            $("#arquivos").change(function () {

                var arquivos = document.getElementById('arquivos');
                var erro = false;

                for (var i = 0; i < arquivos.files.length; i++) {
                    var ext = arquivos.files[i].name.substr(-4);
                    if (ext.toLowerCase() !== ".ofx") {
                        erro = true;
                    }
                }

                if (erro) {
                    alert("Arquivos inválidos");
                    $("#arquivos").val("");
                }

            });
        });

    </script>


}